.DS_Store
.env

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
**/build/
*.zip
infra/backend.tf
.terraform-test

# Python
__pycache__/
*.py[cod]

# Go build artifacts
cli/trustssh
