ca_private_key_value = <<EOT
-----BEGIN OPENSSH PRIVATE KEY-----
replace-with-real-ca-private-key
-----END OPENSSH PRIVATE KEY-----
EOT
ca_public_key_value = "ssh-ed25519 AAAAreplace-with-real-ca-public-key trustssh-ca"

hosted_zone_id = ""
base_domain    = ""
